<mat-dialog-content>
  <h3>Hello!</h3>
  <p>This is a small passion and learning project for the quintessential "note taking" app.</p>
  <p>While I do have various React + Tailwind projects I decided I wanted to expand my repertoire.</p>
  <p>Only I can make changes on this site, but feel free to log onto Discord to anonymously like some posts.</p>
  <p>Thanks for taking the time to check out this humble web app.</p>
  <div id="info-icons">
    <fa-icon [icon]="angularIcon" />
    <fa-icon [icon]="sassIcon" />
    <img src="" src="assets/svg/typescript_logo.svg" />
    <img src="" src="assets/svg/netcore_logo.svg" />
    <fa-icon [icon]="dockerIcon" />
    <img src="assets/svg/mongodb_logo.svg" />
  </div>
</mat-dialog-content>