<mat-dialog-content class="note-dialog-container">
  <div class="note-dialog-header">
    <h3 class="note-dialog-title">
      {{note.title}}
    </h3>
    <div class="note-dialog-info">
      <!-- Date, last edited, bookmark button, edit button -->
      <h4>Created: {{note.created}}</h4>
      <h4>Edited: {{note.lastEdited}}</h4>
      <h4>Bookmarked: {{note.bookmarked}}</h4>
      <button>Edit</button>
    </div>
  </div>
  
  <div class="note-dialog-hero">
    {{note.links}}
  </div>

  <div class="note-dialog-content">
    {{note.description}}
  </div>

  <div class="note-dialog-footer">
    <!-- Likes, like/unlike -->
    Likes: {{note.likes}}
  </div>
</mat-dialog-content>
