<div id="container">
  <div id="items">
    <div id="logo">
      Three6ty1's Noted board
    </div>
    <app-create-note></app-create-note>
    <fa-icon [icon]="listIcon" matTooltip="Look at all the notes"/>
    <app-info></app-info>
    <!-- Redirect straight to login endpoint -->
    <a [href]="['https://dev-noted.au.auth0.com/authorize?response_type=code&client_id=Ryb74rcq2UlfxiLG73p4S8aVWoZN7RQB&redirect_uri=' + redirectURI + '&audience=https://notes/api&scope=offline_access']">
      Login Email
    </a>
    <a [href]="['https://dev-noted.au.auth0.com/authorize?response_type=code&client_id=Ryb74rcq2UlfxiLG73p4S8aVWoZN7RQB&redirect_uri=' + redirectURI + '&audience=https://notes/api&scope=offline_access&connection=discord']">
      Login Discord
    </a>
    <a [href]="['https://dev-noted.au.auth0.com/authorize?response_type=code&client_id=Ryb74rcq2UlfxiLG73p4S8aVWoZN7RQB&redirect_uri=' + redirectURI + '&audience=https://notes/api&scope=offline_access&connection=github']">
      Login Github
    </a>
    <button>Logout</button>
    <button (click)="testAuth()">Test</button>
  </div>
</div>