#container {
    position: absolute;
    background-color: rgba(202, 22, 22, 0.486);
    border-radius: 10px;
    width: fit-content;
    z-index: 50;
    
    #items {
        color: black;
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        height: 50px;
        font-size: xx-large;
        column-gap: 20px;
        justify-content: left;
        font-weight: bold;
    }
}