<mat-dialog-content>
  <form (ngSubmit)="onNoteCreateSubmit()" [formGroup]="noteCreateForm">
    <h1>Create a new note</h1>
    <div id="container">
      <label for="title">Title</label>
      <input type="text" formControlName="title">
      <label for="description">Description</label>
      <input type="text" formControlName="description">
      <p>Links</p>
      <div formArrayName="additionalLinks">
        @for (link of additionalLinks.controls; track $index) {
          <div>
            <label for="additionalLinks">Link</label>
            <input
              type="url"
              name="additionalLinks"
              [formControlName]="$index"
            >
            <button type="button" (click)="removeLink($index)">Remove</button>
          </div>
        }
        <button type="button" (click)="addLink()">Add</button>
      </div>
      <div>
        <label for="bookmarked">Bookmark</label>
        <input type="checkbox" formControlName="bookmarked">
      </div>
    </div>
    <button type="submit">Submit it</button>
  </form>
</mat-dialog-content>